* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
}
header, section {
    padding: 20px;
}
h1 {
    border: 2px solid blue;
    border-radius: 5px;
}
h2 {
    width: 200px;
    border-bottom: 4px solid green;
}
#inspiration {
    background-color: #F0F0F0;
    padding-top: 40px;
    padding-bottom: 40px;
}